* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4e9cd;
}

/* NAVBAR */

nav {
  /* background-color: gray; */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #031926;
  margin: 0 25px;
}

/* HERO STYLES */

section {
  height: calc(100vh - 80px);
  background-color: #77aca2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section img {
  width: 100px;
  margin: 10px 0;
  color: #f4e9cd;
}

section h2 {
  margin: 10px 0;
  font-family: "Satisfy";
  color: #f4e9cd;
}

/* ABOUT STYLES */

article {
  height: 100vh;
  background-color: green;
}

/* PORTFOLIO */

summary {
  height: 100vh;
  background-color: purple;
}

/* CONTACT */

.contact-container {
  height: 50vh;
}

/* FOOTER */

footer {
  background-color: black;
  height: 30vh;
}
